
<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="ISO-8859-1">

    <title>JOBS</title>

    

</head>

<body>

<div class="container my-2" align="center">
    <h3>JOB LIST</h3>
    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
    <thead class="thead-dark">
    <tr>

    <th>Name</th>

    <th>Position</th>
    <th>Status</th>
    <th>Created by</th>

    <th>Action</th>

    </tr>

</thead>

    <tbody>

<tr *ngFor="let job of jobs">
    <td>{{job.name}}</td>
    <td>{{job.position}}</td>
    <td>{{job.status}}</td>
    <td>{{job.createdby}}</td>
    <td> <button (click)="updatejob(job.id)" class="btn btn-success">Update</button>


    </td>

    </tr>

</tbody>

</table>
<button class="btn btn-success btn-sm mb-3" (click)="addjobs()" routerLink="createjob">Add Job</button>
    

</div>

</body>

</html>

