<nav class="navbar navbar-expand-sm bg-dark navbar-light">
  <ul class="navbar-nav">
    <li class=" nav-item text-light">
      
      <a routerLink="jobs" routerLinkActive="active" class="nav-link text-light ">Job List</a>
    </li>
    <li class=" nav-item text-light">
      
      <a routerLink="createjob" routerLinkActive="active" class="nav-link text-light ">Add Job</a>
    </li>
  </ul>
</nav>
<div class="container"> 
<router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="contianer">
    <span>Made by Poonam</span>
  </div>

</footer>
